#Flag1{
    width: 300px;
    height: 150px;
    border: 2px solid black;

}
#Safron{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color: orange;
}
#White{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color:white;
}
#blue{
    width: 150px;
    height: 30px;
    margin-top: 10px;
}
#Green{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color: green;
}

#Flag2{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-top: 10px;

}
#Black{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color:black;
}
#Red{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color:red;
}
#Yellow{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color:yellow;
}

#Flag3{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-top: 10px;

}
#White1{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color:white;
}
#Blue{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color:blue;
}
#Red1{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color:red;
}

#Flag4{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-top: 10px;

}
#Red2{
    width: 300px;
    height: 75px;
    border-radius: 2px solid black;
    background-color:red;
}
#White2{
    width: 300px;
    height: 75px;
    border-radius: 2px solid black;
    background-color:white;
}

#Flag5{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-top: 10px;

}
#Blue1{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color: blue;
}
#Black1{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color: black;
}
#White3{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color:white;
}

#Flag6{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-top: 10px;

}
#Yellow1{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color: yellow;
}
#Red3{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color: red;
}
#Black2{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color: black;
}

#Flag7{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-top: 10px;

}
#Blue2{
    width: 300px;
    height: 75px;
    border-radius: 2px solid black;
    background-color: blue;
}
#Yellow2{
    width: 300px;
    height: 75px;
    border-radius: 2px solid black;
    background-color: yellow;
}

#Flag8{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-top: 10px;

}
#White4{
    width: 300px;
    height: 75px;
    border-radius: 2px solid black;
    background-color: white;
}
#Red4{
    width: 300px;
    height: 75px;
    border-radius: 2px solid black;
    background-color: red;
}

#Flag9{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-top: 10px;

}
#Brown{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color: brown;
}
#White5{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color: white;
}
#Brown1{
    width: 300px;
    height: 50px;
    border-radius: 2px solid black;
    background-color: brown;
}

#Flag10{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-top: 10px;

}
#circle{
    margin-top: 40px;
}